/* Section */
section {
    padding-top: 5rem;
}

/* Jumbotron */
.jumbotron {
    padding-top: 6rem;
    background-color: #E2EDFF;
}

.jumbotron p {
    font-weight: 500;
}

/* Projects */
#projects {
    background-color: #E2EDFF;
}

/* Footer */
footer a {
    text-decoration: none;
}